* {
  line-height: 1.7em;
  font-family: Georgia, serif;
}

body {
  text-align: center;
}

span {
  margin-right: 0 1em;
  display: inline-block;
  width: 40%;
  text-align: left;
}

a {
  padding-right: 3.8em;
  text-decoration: none;
  color: #808080;
}

a:hover, a:focus {
  color: #507642;
}
